<div class="home-main">
  <div class="image-wrapper">
    <div class="banner-content">
      <div>
        <h2 class="banner-title">Un de mes principaux points fort ?</h2>
        <p class="banner-text">
          Mon volontarisme et mon sens de l'organisation me permettent de m'adapter rapidement aux missions qui me sont confiées.
        </p>
        <a
          href="https://portfolio-1f413.web.app/"
          target="_blank"
          class="banner-btn"
          >En savoir plus</a
        >
      </div>
    </div>
    <img class="banner-img" src="../../assets/images/home-banner.png" alt="" />
  </div>
  <div class="wrapper-angular-icon">
    <img
      class="angular-icon"
      src="../../../../assets/images/home/angular.png"
      alt=""
    />
  </div>
  <p class="home-paragraph">
    Ceci est me première application avec le framework <strong>Angular</strong>.
    Elle a été réalisé en quelques heures de travail. La documentation du framework est bien rédigée et je
    trouve Angular intuitif et accessible. Je vous ai préparé une petite
    intégration sur le thème des Oiseaux et des poissons. Le but de cette
    application est d'apprendre à récupérer des données avec l'outils
    HTTP et des générer des liens dynamiquement en fonctions de
    ces données.
  </p>
  <div class="home-separator"></div>
  <h2 class="home-used-tools">Bienvenue sur mon Top 10 Osieaux & Poissons</h2>
  <div class="home-separator"></div>
  <div class="home-card-container">
    <img src="../../../../assets/images/home/home-bird.png" alt="" />
    <div class="card-content">
      <h3>Notre sélection d'oiseaux</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
        aspernatur architecto doloribus nesciunt repellendus nostrum blanditiis
        exercitationem ad! Itaque, sunt.
      </p>
      <a routerLink="/birds">Découvrir</a>
    </div>
  </div>
  <div class="home-card-container">
    <img src="../../../../assets/images/home/home-fish.png" alt="" />
    <div class="card-content">
      <h3>Notre sélection de poissons</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
        aspernatur architecto doloribus nesciunt repellendus nostrum blanditiis
        exercitationem ad! Itaque, sunt.
      </p>
      <a routerLink="/home">Découvrir</a>
    </div>
  </div>
  <div class="home-separator"></div>
  <h2 class="home-used-tools">Outils utilisés</h2>
  <div class="home-separator"></div>
  <div class="home-tools-container">
    <div class="home-tools" *ngFor="let tool of tools | async">
      <div class="tools-content">
        <h3>{{ tool.name }}</h3>
        <p>
          {{ tool.description }}
        </p>
      </div>
    </div>
  </div>
</div>
