:host {
  .home-main {
    padding-top: 60px;
    background-color: #0f2038;
    .image-wrapper {
      width: 100%;
      height: 400px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.2);
        z-index: 0;
      }
      .banner-content {
        position: absolute;
        width: 100%;
        height: 100%;
        color: rgba($color: #ffffff, $alpha: 0.8);
        & > div {
          width: 100%;
          max-width: 1024px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          padding-right: 20px;
        }
        .banner-title {
          text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.75);
          text-align: right;
        }
        .banner-text {
          text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.75);
          text-align: right;
          margin: 10px 0;
        }
        .banner-btn {
          text-decoration: none;
          color: rgba($color: #ffffff, $alpha: 0.8);
          background-color: rgb(11, 0, 36);
          padding: 10px 30px;
          border-radius: 20px;
          border: 2px solid rgba($color: #ffffff, $alpha: 0.75);
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .wrapper-angular-icon {
      padding: 2rem 0;
      .angular-icon {
        display: block;
        width: 75px;
        height: auto;
        margin: auto;
      }
    }
    .home-separator {
      width: 50px;
      height: 5px;
      background: rgba($color: #05daff, $alpha: 0.25);
      border-radius: 5px;
      margin: auto;
    }
    .home-paragraph {
      max-width: 1024px;
      color: rgba($color: #ffffff, $alpha: 0.75);
      margin: auto;
      text-align: center;
      padding: 2rem 20px;
    }
    .home-used-tools {
      color: #05daff;
      text-align: center;
      padding: 2rem 20px;
    }
    .home-card-container {
      padding: 2rem 20px 2.5rem;
      color: rgba($color: #ffffff, $alpha: 0.75);
      & > img {
        width: 100%;
        height: auto;
      }
      .card-content {
        & > h3 {
          margin: 10px 0 20px 0;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.75);
        }
        & > p {
          margin-bottom: 30px;
        }
        & > a {
          text-decoration: none;
          color: rgba($color: #ffffff, $alpha: 0.75);
          background-color: rgb(11, 0, 36);
          padding: 10px 20px;
          border-radius: 20px;
          border: 1px solid rgba($color: #ffffff, $alpha: 0.75);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .home-tools-container {
      padding: 0rem 20px 2rem;
      max-width: 1024px;
      margin: auto;
      color: rgba($color: #ffffff, $alpha: 0.75);
      .home-tools {
        .tools-content {
          padding-top: 2rem;
        }
        .tools-content > h3 {
          border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.5);
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
    .home-main {
      .image-wrapper {
        .banner-content {
          & > div {
            padding-right: 40px;
            .banner-text {
              width: 75%;
              margin: 20px 0;
            }
          }
        }
      }
      .home-paragraph {
        padding: 2rem 40px;
      }
      .home-card-container {
        display: flex;
        & > img {
          flex: 0.4;
        }
        .card-content {
          flex: 0.6;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & > h3 {
            margin: 0;
          }
          & > p {
            margin: 0;
          }
          & > a {
            align-self: flex-start;
          }
        }
      }
      .home-tools-container {
        padding: 0rem 40px 2rem;
        display: flex;
        flex-wrap: wrap;
        .home-tools {
          width: 50%;
          &:nth-child(2n) {
            padding-left: 20px;
          }
          &:nth-child(2n + 1) {
            padding-right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  :host {
    .home-main {
      .image-wrapper {
        .banner-content {
          & > div {
            margin: auto;
            .banner-text {
              width: 50%;
              margin: 20px 0;
            }
          }
        }
      }
      .home-paragraph {
        padding: 0 40px 2.5rem;
      }
      .home-used-tools {
        padding: 2.5rem;
      }
      .home-card-container {
        max-width: 1024px;
        padding: 3rem 20px 3.5rem;
        margin: auto;
        display: flex;
        & > img {
          flex: 0.4;
        }
        .card-content {
          flex: 0.6;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & > h3 {
            margin: 0;
          }
          & > p {
            margin: 0;
          }
          & > a {
            align-self: flex-start;
          }
        }
      }
      .home-tools-container {
        padding-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .home-tools {
          width: 30%;
          .tools-content {
            padding-top: 3rem;
          }
        }
      }
    }
  }
}
