:host {
  .header-main {
    z-index: 9999;
    background: rgb(11, 0, 36);
    border-bottom: 1px solid #292958;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  .header-nav {
    width: 100%;
    height: 60px;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    .nav-container {
      max-width: 1024px;
      margin: 0 auto;
      .nav-brand,
      .nav-link {
        display: inline-block;
        color: rgba($color: #ffffff, $alpha: 0.75);
        text-decoration: none;
        line-height: 60px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: rgba($color: #ffffff, $alpha: 1);
        }
      }
      .nav-brand {
        padding-left: 20px;
        font-size: 1.25rem;
        font-weight: 700;
      }
      .nav-toggler {
        padding-right: 20px;
      }
      .nav-link {
        // optional
        text-align: center;
        // main
        display: block;
        font-size: 1rem;
        padding: 0 2rem;
        position: relative;
        transition: all 0.2s ease-in-out;
        &.selected,
        &:hover {
          background-color: #0f2038;
          color: rgba($color: #ffffff, $alpha: 1);
        }
      }
      .nav-icon {
        color: rgba($color: #ffffff, $alpha: 0.75);
        cursor: pointer;
      }
      .nav-collapse {
        // float: right;
        float: none;
      }
      .nav-toggler {
        // optional
        display: block;
        // main
        float: right;
        width: 40px;
        height: 18px;
        margin: 18.5px 0;
        background: none;
        border: none;
        outline: none;
        // display: none;
        opacity: 0.8;
      }
    }
  }
  &.active {
    .header-nav {
      height: 47vh;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
    .header-main {
      .header-nav {

      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
  }
}

@media screen and (min-width: 1024px) {
  :host {
  }
}
