<div class="birds-main">
  <div class="image-wrapper">
    <img class="banner-img" src="../../assets/images/birds-banner.png" alt="" />
  </div>
  <h2 class="birds-list-title">Notre Top 10 des plus beaux oiseaux du monde</h2>
  <div class="birds-separator"></div>
  <div class="birds-list-container">
    <ul *ngFor="let bird of birds$ | async" class="birds-list">
      <li class="birds-item">
        <a class="birds-link" [routerLink]="['/birds', bird.slug]"
          >{{ bird.position }}. {{ bird.name }}</a
        >
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
