<footer class="footer-main">
  <div class="footer-container">
    <div class="footer-section">
      <h4 class="footer-title">A propos</h4>
      <p class="footer-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, aut? Officiis quo sapiente soluta qui natus ratione voluptate necessitatibus eveniet. Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="footer-section">
      <h4 class="footer-title">Liens Rapides</h4>
      <ul class="footer-list">
        <li class="footer-item"><a class="footer-link" href="#">Accueil</a></li>
        <li class="footer-item"><a class="footer-link" href="#">Oiseaux</a></li>
        <li class="footer-item"><a class="footer-link" href="#">Poissons</a></li>
        <li class="footer-item"><a class="footer-link" href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="footer-title">Me Contacter</h4>
      <p class="footer-content">340 rue de l'Europe<br>01630 Saint-Genis-Pouilly</p>
      <div class="footer-separator">
        <strong>Coordonnées</strong>
      </div>
      <p class="footer-content">(+33) 637 964 370<br>cedric.paje@gmail.com</p>
    </div>
  </div>
</footer>
<p class="footer-signature">Made by <span>Cédric</span></p>
