:host {
  .footer-main {
    background-color: rgb(11, 0, 36);
    border-top: 1px solid #292958;
    padding: 2rem 20px;
    .footer-container {
      .footer-content {
        color: rgba($color: #ffffff, $alpha: 0.75);
        text-align: center;
        margin-bottom: 20px;
        & > a {
          color: rgba($color: #ffffff, $alpha: 1);
        }
      }
      .footer-signature {
        display: flex;
        justify-content: center;
        & > p {
          color: rgba($color: #ffffff, $alpha: 0.75);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
  }
}

@media screen and (min-width: 1024px) {
  :host {
    .footer-main {
      padding: 4rem 20px;
    }
  }
}
