<div class="birdDetail-main" *ngIf="bird$ | async as bird">
  <div class="birdDetail-img-wrapper">
    <img class="detail-image" src="{{ bird[0].img }}" alt="">
  </div>
  <div class="birdDetail-content-wrapper">
    <h4 class="birdDetail-content-h4"><span class="birdDetail-span">Espèce</span> : {{ bird[0].name }}</h4>
    <h4 class="birdDetail-content-h4"><span class="birdDetail-span">Origine</span> : {{ bird[0].origin }}</h4>
    <p class="birdDetail-content-p"><span class="birdDetail-span">Description</span> : {{ bird[0].description }}</p>
  </div>
</div>
